.RightCard .card {
  background-color: black;
  margin-left: -2.5rem;
  margin-top: 4rem;
  height: 20rem;
  text-align: center;
}

.RightCard Ul {
  list-style-type: none;
  margin-top: 1.5rem;
  color: whitesmoke;
}
.RightCard .week {
  display: flex;
  margin-left: -1rem;
}
